<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="account-list">
  <p>Accounts below are available in the system to expolore Spring Security examples.</p>
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">william</h5>
          <h6 class="card-substitle mb-2 text-muted">SUPER_ADMIN</h6>
          <p class="card-text">Username : william</p>
          <p class="card-text">Password : william</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">suzan</h5>
          <h6 class="card-substitle mb-2 text-muted">EMPLOYEES_ADMIN</h6>
          <p class="card-text">Username : suzan</p>
          <p class="card-text">Password : suzan</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">april</h5>
          <h6 class="card-substitle mb-2 text-muted">DEPARTMENTS_PAG_VIEW,DEPARTMENTS_READ,DEPARTMENTS_CREATE</h6>
          <p class="card-text">Username : april</p>
          <p class="card-text">Password : april</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">may</h5>
          <h6 class="card-substitle mb-2 text-muted">CUSTOMERS_PAG_VIEW,CUSTOMERS_READ,CUSTOMERS_CREATE</h6>
          <p class="card-text">Username : may</p>
          <p class="card-text">Password : may</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">june</h5>
          <h6 class="card-substitle mb-2 text-muted">No roles</h6>
          <p class="card-text">Username : june</p>
          <p class="card-text">Password : june</p>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>