<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 py-5">
                <h2>Employee List</h2>
                <div th:replace="~{fragments/employeesTable :: employeeTable}"></div>
                <a href="#" th:href="@{/employees/create}" type="button" class="btn btn-primary mt-5">Add Employee</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>